<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Slim</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />

        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/app.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/app.head.min.js"></script>

    </head>

    <body>

        {% block body %}{% endblock %}

        <script type="text/javascript" src="assets/js/app.min.js"></script>
    </body>
</html>
